{% load static %}
<!doctype html>
<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AuthLab — Django authentication o‘quv loyihasi">
    <title>{% block title %}AuthLab{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'apps/css/auth.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock %}
<script src="{% static 'apps/js/auth.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
